In [1]:
import pandas as pd
import numpy as np

## 1. Import Dataset

In [2]:
df = pd.read_csv("./test.csv")
df.head()

    x          y
0  77  79.775152
1  21  23.177279
2  22  25.609262
3  20  17.857388
4  36  41.849864

In [3]:
X = df["x"].values.reshape(-1,1)
y = df["y"].values

In [6]:
print("Shape of X : " + str(X.shape))
print("Shape of y : " + str(y.shape)) #1-dimensional array

Shape of X : (300, 1)
Shape of y : (300,)